body{
    background-color: black;
    background-image: url(https://static.vecteezy.com/system/resources/previews/002/301/473/large_2x/black-abstract-background-with-35mmgraphic-film-free-photo.jpg);
}

.filmINFO{
    color: aliceblue;
    font-size: larger;
}


h1{
    padding: 50px;
    padding-right: 50px;
    background-color:  rgb(56, 0, 0);
    color: aliceblue;
}

#camera{
    color: aliceblue;
    margin-right: 600px;
    border: 5px solid rgb(78, 0, 16);
}

#photos{
    color: aliceblue;
    padding: 20px;
    background-color: rgb(70, 8, 8);
    font-size: xx-large;
}

.inverse{
    text-wrap: pretty;
    text-align: center;
    font-size: x-large;
    color: aliceblue;
}
